/* customization for front end donation forms, some */
.crm-container *[role="tablist"] {
  padding: 0 30px;
}

.crm-container button[role="tab"] {
  border: none;
  background-color: #E5F0E9;
  padding: 15px 30px 20px 30px;
  font-size: 1.375rem;
  font-weight: bold;
}

.crm-container button[role="tab"] + button[role="tab"] {
  margin-left: 10px;
}

.crm-container button[role="tab"][aria-selected="true"] {
  background-color: #524E81;
  color: white;
  border-top: 5px solid #524E81;
}

.crm-container *[role="tablist"] + .form-elements-wrapper {
  border: 3px solid #E5F0E9;
  padding: 15px;
}

@media all and (min-width: 960px) {
  .crm-container *[role="tablist"] + .form-elements-wrapper {
      padding: 30px;
  }
}

